.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width);
  padding-inline: var(--space-xl);
  position: relative;
}

@media (min-width: 66em) {
  .grid {
    grid-template-columns: calc(10rem + var(--gutter) * 2) 1fr 1fr 1fr;
  }
}
@media (min-width: 66em) {
  .grid__item {
    grid-area: 3;
  }
}
