.wrapper {
  margin-inline: auto;
  max-width: var(--max-width);
  padding-inline: var(--space-xl);
  position: relative;
  /* display: grid; */
  gap: var(--space-xl); /* Add space between children */
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
}

@media (min-width: 66em) {
  .grid--2-column {
    grid-template-columns: 1fr 1fr; /* Keep 2 per row on large screens */
    gap: var(--space-xl); /* Add space between grid columns */
    grid-area: auto;
  }

  .grid--2-column--uneven {
    grid-template-columns: 1fr 2fr; /* Left column is 1/3 of the right column */
    gap: var(--space-3xl); /* Add space between grid columns */
    grid-area: auto;
  }

  .grid--3-column {
    grid-template-columns: 1fr 1fr 1fr; /* Keep 3 per row on large screens */
    gap: var(--space-xl); /* Add space between grid columns */
    grid-area: auto;
  }
}

.card {
  display: flex;
  align-items: center;
  /* background-color: var(--color-surface); */
  border-radius: var(--border-radius);

  transition: var(--transition-base);
  overflow: hidden; /* Ensure content stays within rounded corners */
  margin-bottom: var(--space-m);
  background: var(--color-quote-bg-alt);
}

.card__image {
  flex-shrink: 0;
  margin-right: var(--space-m);
  max-width: 150px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--color-surface); /* Background for the image area */
}

.card__content {
  flex: 1;
}

/* New card style with image at the top and text below */
.card--vertical {
  display: flex;
  flex-direction: column; /* Stack image and content vertically */
}

.card--vertical .card__image {
  width: 100%; /* Full width image */
  height: auto; /* Maintain aspect ratio */
  margin: 0; /* Remove margin */
  max-width: 100%; /* Ensure it doesn't exceed container width */
}

.card--vertical .card__content {
  padding: var(--space-m); /* Add padding for text content */
  text-align: left; /* Align text to the left */
  width: 100%;
}
