/* src/css/pages/index-section-featured-projects.css */

/* Featured projects section styles for the index page */

.project-thumbnail--intel {
    max-width: fit-content;
    max-height: calc(var(--space-3xl) * 7);
    margin: 0 auto;
}