@use "../2-utilities/config" as *;
@use "../2-utilities/mixins" as *;
@use "../2-utilities/colors" as *;
@use "sass:color";

a.button,
button,
button.button {
    font-family: inherit;
    font-size: 100%;
    padding: $spacing--xsmall $spacing--small;
    color: $color--white;
    border: 0.05rem solid $color--blue;
    background-color: $color--blue;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: $spacing--large;

    &:hover {
      background: color.adjust($color--blue, $lightness: 10%);
    }
}
