@use "../2-utilities/config" as *;
@use "../2-utilities/mixins" as *;
@use "../2-utilities/colors" as *;
@use "../3-base/breakpoints" as *;
@use "../3-base/lists" as *;

footer {
  background: $color--black;
  position: relative;
  z-index: $zindex--2;
  padding: $spacing--small;
  text-align: center;
  

  @include medium {
    text-align: left;
  }

  .container {
    @include medium {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  p {
    padding-bottom: 0;
  }
  
  p,
  a {
    color: shade($color--white, 30%);
  }
  
  ul {
    @extend .list-reset;
    display: flex;
    justify-content: center;

    li {
      margin-right: $spacing;
      
      &:last-child {
        margin-right: 0;
        a::after {
          content: "";
          margin-left: 0;
        }        
      }
    }

    a {
      width: $spacing--xlarge;
      postion: relative;
      
      &::after {
        content: " / ";
        position: absolute;
        margin-left: .75rem;
      }
    }
  }
}
